<sb-layout-dashboard>
    <sb-dashboard-head title="사원관리" [hideBreadcrumbs]="true"></sb-dashboard-head>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item "><a href="#">공통정보관리</a></li>
                <li class="breadcrumb-item active " aria-current="page">사원관리</li>
            </ol>
        </nav>

    <div class="content">
        <div class="row">
            <div class="col-lg-12">

                <div class="card p-4">
                    <div class="card-body">

                        <div class="form-group row">
                            <label class="control-label ir col-sm-2 mt-2">근무상태</label>
                            <select class="form-control col-sm-4">
                                <option>재직</option>
                                <option>휴직</option>
                                <option>퇴사</option>
                            </select>
                            <label class="control-label ir col-sm-2 mt-2">기본/연차추가</label>
                            <select class="form-control col-sm-1 ml-2">
                                <option>기본</option>
                              </select>
                              <select class="form-control col-sm-1 ml-2">
                                <option>연차추가</option>
                              </select>
                        </div>

                        <div class="form-group row">
                            <label class="control-label ir col-sm-2 mt-2">입/퇴사일</label>
                            <div class="col-sm-4">
                                <sb-range-date-picker></sb-range-date-picker>
                            </div>
                            <label class="control-label ir col-sm-2 mt-2">소속</label>
                            <select class="form-control col-sm-1 ml-2">
                                <option>와이즈빌</option>
                                <option>와이즈빌2</option>
                                <option>와이즈빌3</option>
                              </select>
                              <select class="form-control col-sm-1 ml-2">
                                <option>개발팀</option>
                                <option>회계팀</option>
                                <option>인사팀</option>
                              </select>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 control-label ir">사원명</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="am_name" id="am_name" maxlength="10">
                            </div>
                            <label class="col-sm-2 control-label ir">생년원일</label>
                            <div class="col-sm-4">
                                <sb-my-date-picker></sb-my-date-picker>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 control-label ir">사원번호</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="am_num" id="am_num" maxlength="10">
                            </div>
                            <label class="col-sm-2 control-label ir">비밀번호</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="am_pwd" id="am_pwd" maxlength="10">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 control-label ir">직급</label>
                            <select class="form-control col-sm-4">
                                <option>대표</option>
                                <option>이사</option>
                                <option>사원</option>
                                <option>인턴</option>
                            </select>
                            <label class="col-sm-2 control-label ir">내선번호</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="am_extension" id="am_extension"
                                    maxlength="10">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 control-label ir">출입카드</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="am_card_num" id="am_card_num"
                                    maxlength="10">
                            </div>
                            <label class="col-sm-2 control-label ir">핸드폰</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="am_phone" id="am_phone" maxlength="10">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 control-label ir">이메일</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="am_email" id="am_email" maxlength="10">
                            </div>
                            <label class="col-sm-2 control-label ir">전화번호</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="am_tel" id="am_tel" maxlength="10">
                            </div>
                        </div>

                        <hr class="m-t-0 m-b-40">

							<sb-address></sb-address>

                        <hr class="m-t-0 m-b-40">

                        <div class="form-group row">
                            <label class="control-label ir col-sm-2 mt-2">권한등급</label>
                            <select class="form-control col-sm-3 ml-3">
                                <option>슈퍼관리자</option>
                                <option>관리자</option>
                                <option>대표</option>
                                <option>이사</option>
                                <option>사원</option>
                                <option>인턴</option>
                            </select>
                            </div>

                            <hr class="m-t-0 m-b-40">


                        <div class="form-group row">
                            <label class="col-sm-2 control-label ir ">사진</label>
                            <div class="col-sm-4 ">
                                <div class="input-group">
                                    <div class="custom-file" id="inputFile">
                                        <input type="file" class="form-control file " name="wr_files_1" data-upflag="sign " id="wr_files_1 ">
                                    </div>
                                </div>
                            </div>
                            <label class="col-sm-2 control-label ir">싸인</label>
                            <div class="col-sm-4">
								<div tabindex="10" class="custom-file" id="inputFile">
                                <input type="file" class="form-control file" name="wr_files_1" data-upflag="sign" id="wr_files_1">
								</div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="card-footer clearfix">
                    <button type="button" id="upbtn" (click)="modify()" class="btn btn-info float-right cus-upbtn"
                        style="display:inline-block">수정</button>
                </div>
            </div>
        </div>
    </div>

</sb-layout-dashboard>
