
<li class="nav-item dropdown dropdown-user no-caret" >
<a class="nav-link dropdown-toggle" href="" id="userDropdown" type="button">
    <fa-icon [icon]='["fas", "bell"]'></fa-icon>
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        99+</span>
</a>
</li>


<!--


<button type="button" class="btn btn-dark position-relative">
    <fa-icon [icon]='["fas", "bell"]'></fa-icon>
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
      99+
      <span class="visually-hidden">new notice</span> 
    </span>
  </button>
-->