<sb-layout-dashboard>
    <sb-dashboard-head title="사원관리" [hideBreadcrumbs]="false"></sb-dashboard-head>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">

                        <form class="form-horizontal" name="dataFrm" method="get">

                            <div class="form-body">
                                <div class="form-group row col-sm-12">
                                    <label class="control-label ir"></label>
                                    <select class="form-control col-sm-2 mr-2">
                                        <option class="dropdown-item" disabled selected value="undefined">::소속::</option>
                                        <option *ngFor="let check of Checks">{{check.name}} </option>
                                    </select>
                                    <select class="form-control col-sm-2">
                                        <option class="dropdown-item" disabled selected value="undefined">::부서::</option>
                                        <option *ngFor="let detail of details">{{detail}} </option>
                                    </select>
                                    <input type="text" class="form-control col-sm-4 ml-4" name="am_name" id="am_name"
                                        maxlength="10">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-dark btn-flat" onclick="">검색</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="row mb-3 mt-3">
                    <div class="col-md-4 align-self-center">
                        <a href="" class="btn btn-xs btn-secondary" onclick="">검색초기화</a>
                        Total
                        <span class="">0</span>
                        건
                        <span class="">0</span>
                        /
                        <span class="">0</span>
                        Page
                    </div>
                    <div class="col-8 align-self-center text-right cbtn-wrap">
                        <button type="button" class="btn btn-primary btn-flat btn-sm bg-gradient-info cus-inbt" (click)="enroll()">사원등록</button>
                        <button type="button" class="btn btn-danger btn-sm ml-1" (click)="listDelSubmit('list')">선택목록
                            삭제</button>
                    </div>
                </div>

                <div class="row">
                    <div class="card mb-3 col-sm-12">
                        <div class="card-body">
                            <table class="table col-lg-12 table-bordered" style="text-align:center">
                                <thead class="table-info">
                                    <tr>
                                        <th scope="col"><input type="checkbox" [checked]="isAllCheckBoxChecked()"
                                                (change)="checkAllCheckBox($event)" class="mr-1"
                                                aria-label="Checkbox for following text input">전체선택</th>
                                        <th scope="col">소속</th>
                                        <th scope="col">부서</th>
                                        <th scope="col">직급</th>
                                        <th scope="col">사원명</th>
                                        <th scope="col">담당업무</th>
                                        <th scope="col">권한</th>
                                        <th scope="col">관리</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let member of members; let list=index">
                                        <td scope="row"><input type="checkbox" value="{{member.id}}"
                                                [(ngModel)]="member.checked"
                                                aria-label="Checkbox for following text input"></td>
                                        <td>{{member.company}}</td>
                                        <td>{{member.department}}</td>
                                        <td>{{member.rank}}</td>
                                        <td>{{member.name}}</td>
                                        <td>{{member.task}}</td>
                                        <td>{{member.auth}}</td>
                                        <td><a href="http://localhost:4200/mypage/myprofile" class="btn btn-secondary">보기</a></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-between p-2">
                                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshCountries()">
                                </ngb-pagination>
                              
                                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
                                  <option [ngValue]="2">2 items per page</option>
                                  <option [ngValue]="4">4 items per page</option>
                                  <option [ngValue]="6">6 items per page</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-12 align-self-center text-right cbtn-wrap">
                <button type="button" class="btn btn-primary btn-flat btn-sm bg-gradient-info cus-inbt" (click)="enroll()">사원등록</button>
                <button type="button" class="btn btn-danger btn-sm ml-1" (click)="listDelSubmit('list')">선택목록
                    삭제</button>
            </div>
        </div>
    </div>
</sb-layout-dashboard>