<sb-layout-dashboard>
  <sb-dashboard-head title="일정관리" [hideBreadcrumbs]="true"></sb-dashboard-head>
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item "><a href="#">마이페이지</a></li>
          <li class="breadcrumb-item active " aria-current="page">내 일정 관리</li>
      </ol>
  </nav>
    <full-calendar [options]="calendarOptions"></full-calendar>
</sb-layout-dashboard>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">일정등록</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form class="form-horizontal ml-4" method="POST">
            <div class="form-group row">
                <div class="col-sm-12">
                    <div class="row">
                        <label class="control-label ir col-sm-2 mt-2">구분</label>
                        <select placeholder="Phantasyland" (change)="changeSchedule($event.target.value)">
                            <option>::업무/휴가::</option>
                            <option *ngFor ="let schedule of Schedules">{{schedule.name}} </option>
                            </select>

                        <select placeholder="dayoff" class="form-control col-sm-4 ml-3">

                            <option *ngFor ="let dayoff of dayoffs">{{dayoff}} </option>
                        </select>
                    </div>
                </div>
            </div>
            


           
               
            
                
        
                
                
            
            

            <div class="form-group row">
                <div class="col-sm-12 text-center" >
                      <div class="icheck-primary d-inline mr-3"><input type="radio" name="layout" id="layout_0"
                              value="sidebar-mini layout-fixed layout-navbar-fixed" checked="checked"><label
                              for="layout_0">선택안함</label></div>
                      <div class="icheck-primary d-inline mr-3"><input type="radio" name="layout" id="layout_1"
                              value="sidebar-mini layout-navbar-fixed"><label for="layout_1">하루종일</label></div>
                      <div class="icheck-primary d-inline mr-3"><input type="radio" name="layout" id="layout_2"
                              value="sidebar-mini layout-boxed"><label for="layout_2">오전</label></div>
                      <div class="icheck-primary d-inline mr-3"><input type="radio" name="layout" id="layout_3"
                              value="layout-top-nav"><label for="layout_3">오후</label></div>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label ir col-sm-2 mt-2">시작</label>
                <div class="col-sm-4 ml-1">
                <sb-my-date-picker></sb-my-date-picker>
                </div>
                <sb-timepicker class="ml-3"></sb-timepicker>
              </div>

            <div class="form-group row">
                <label class="control-label ir col-sm-2 mt-2">종료</label>
                <div class="col-sm-4 ml-1">
                <sb-my-date-picker></sb-my-date-picker>
                </div>
                <sb-timepicker class="ml-3"></sb-timepicker>
            </div>

            <div class="form-group row">
                <label class="control-label ir col-sm-2 mt-1">제목</label>
                <input type="text" class="form-control col-sm-8 ml-3" maxlength="10">
            </div>

            <div class="form-group row">
                <label class="control-label ir col-sm-2 mt-1">장소</label>
                <input type="text" class="form-control col-sm-8 ml-3" maxlength="10">
            </div>

            <div class="form-group row">
                <label class="control-label ir col-sm-2 mt-1">설명</label>
                <textarea class="form-control col-sm-8 ml-3" rows="3" placeholder="내용을 입력해주세요"></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">저장</button>
    </div>
</ng-template>