<sb-layout-dashboard>
    <sb-dashboard-head title="근무기록" [hideBreadcrumbs]="true"></sb-dashboard-head>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item "><a href="#">마이페이지</a></li>
            <li class="breadcrumb-item active " aria-current="page">근무기록</li>
        </ol>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card p-1">
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-sm-1 col-form-label">근무일 :</label>
                            <sb-range-date-picker>
                            </sb-range-date-picker>
                            <button type="button" class="btn btn-dark btn-flat" (click)="search()">검색</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="card mb-3 col-12">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" ([ngModel])="totalwork">총 근무시간 : {{totalwork}}시간</label>
                    </div>
                    <table class="table col-lg-12 table-bordered" style="text-align:center">
                        <thead class="table-info">
                            <tr>
                                <th scope="col">날짜</th>
                                <th scope="col">출근</th>
                                <th scope="col">퇴근</th>
                                <th scope="col">근무시간</th>
                                <th scope="col">비고</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let workrecord of workrecords">
                                
                                <td>{{ workrecord.date }}</td>
                                <td>{{ workrecord.start }}</td>
                                <td>{{ workrecord.end }}</td>
                                <td>{{ workrecord.workroad }}시간</td>
                                <td>{{ workrecord.check }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-between p-2">
                        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshCountries()">
                        </ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sb-layout-dashboard>