<sb-layout-dashboard>
    <sb-dashboard-head title="모니터링" [hideBreadcrumbs]="false"></sb-dashboard-head>

    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <form class="form-horizontal" name="" method="get">
                            <div class="form-body">

                                <div class="form-group row">
                                    <h5 class="ml-3">회사 검색</h5>
                                    <div class="col-sm-12">
                                        <div class="form-group row">
                                            <input type="text" class="form-control col-sm-2 ml-2" name="" id=""
                                                maxlength="10">
                                            <button type="button" class="btn btn-dark">검색</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
  <!--한 줄 띄기-->
  <div class="form-group d-flex align-items-center justify-content-between mt-2 mb-0"></div>

        <div class="row">
            <div class="col-lg-3" *ngFor="let company of companies">
                <sb-card>
                    <div class="card-header"> <button type="button" id="upbtn" (click)="detail()" class="btn btn-outline-secondary btn-flat btn-sm float-right cus-upbtn"
                        style="display:inline-block">더보기></button>
                        <fa-icon class="mr-1" [icon]='["fas", "chart-bar"]'></fa-icon>{{company.name}}
                    </div>
                    <div class="card-body">
                        <sb-charts-bar></sb-charts-bar>
                    </div>
                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                </sb-card>
            </div>
        </div>
    </div>
</sb-layout-dashboard>