<sb-layout-dashboard>
    <sb-dashboard-head title="IOT 기기 관리" [hideBreadcrumbs]="false"></sb-dashboard-head>

    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <form class="form-horizontal" name="" method="get">
                            <div class="form-body">

                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <select class="form-control col-sm-2 ml-2">
                                                <option selected disabled hidden>가동상태</option>
                                                <option>ON</option>
                                                <option>OFF</option>
                                                <option>ON(가동대기)</option>
                                            </select>
                                            <select class="form-control col-sm-2 ml-2">
                                                <option selected disabled hidden>타입</option>
                                                <option>P</option>
                                                <option>M</option>
                                                <option>T</option>
                                                <option>기타</option>
                                            </select>
                                            <select class="form-control col-sm-2 ml-2">
                                                <option selected disabled hidden>선택</option>
                                                <option>회사명</option>
                                                <option>기기명</option>
                                                <option>내용</option>
                                            </select>
                                            <input type="text" class="form-control col-sm-2 ml-2" name="" id=""
                                                maxlength="10">
                                            <button type="button" class="btn btn-dark">검색</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3 mt-3">
            <div class="col-md-4 align-self-center">
                <a href="" class="btn btn-xs btn-secondary" onclick="">검색초기화</a>
                Total
                <span class="">0</span>
                건
                <span class="">0</span>
                /
                <span class="">0</span>
                Page
            </div>
            <div class="col-8 align-self-center text-right cbtn-wrap">
              <button type="button" class="btn btn-primary btn-flat btn-sm bg-gradient-info cus-inbt" (click)="createiot()">기기등록</button>
              <button type="button" class="btn btn-danger btn-sm ml-1" (click)="listDelSubmit('list')">선택목록삭제</button>
            </div>
        </div>

        <div class="row">
            <div class="card mb-3 col-12">
                <div class="card-body">
                    <table class="table col-lg-12 table-bordered" style="text-align:center">
                        <thead class="table-info">
                            <tr>
                                <th scope="col"><input type="checkbox" [checked]="isAllCheckBoxChecked()"
                                        (change)="checkAllCheckBox($event)" class="mr-1"
                                        aria-label="Checkbox for following text input">전체선택</th>
                                <th scope="col">회사명</th>
                                <th scope="col">기기명</th>
                                <th scope="col">타입</th>
                                <th scope="col">내용</th>
                                <th scope="col">RSSI</th>
                                <th scope="col">가동상태</th>
                                <th scope="col">상세보기</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let iot of iots;, index as i; let list=index">
                                <td scope="row"><input type="checkbox" value="{{iot.id}}" [(ngModel)]="iot.checked"
                                        aria-label="Checkbox for following text input"></td>
                                <td>{{ iot.cname }}</td>
                                <td>{{ iot.name }}</td>
                                <td>{{ iot.type }}</td>
                                <td>{{ iot.content }}</td>
                                <td>{{ iot.rssi }}</td>
                                <td><button type="button" class="btn btn-success btn-sm">{{ iot.status }}</button></td>
                                <td><button type="button" class="btn btn-secondary btn-sm">보기</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-between p-2">
                        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshCountries()">
                        </ngb-pagination>
                      
                        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
                          <option [ngValue]="2">2 items per page</option>
                          <option [ngValue]="4">4 items per page</option>
                          <option [ngValue]="6">6 items per page</option>
                        </select>
                      </div>
                </div>
            </div>

        </div>

        <div class="row">
          <div class="col-12 align-self-center text-right cbtn-wrap">
            <button type="button" class="btn btn-primary btn-flat btn-sm bg-gradient-info cus-inbt" (click)="createiot()">기기등록</button>
            <button type="button" class="btn btn-danger btn-sm ml-1" (click)="listDelSubmit('list')">선택목록 삭제</button>
          </div>
      </div>
    </div>
</sb-layout-dashboard>