<sb-layout-dashboard>
  <sb-dashboard-head title="근태관리" [hideBreadcrumbs]="false"></sb-dashboard-head>
  <div class="container-fluid">

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">

            <form class="form-horizontal" name="dataFrm" method="get">
              <div class="form-body">

                <div class="form-group row">

                  <div class="col-sm-6">
                    <label class="control-label ir">사원조회</label>
                    <div class="row">
                      <select class="form-control col-sm-3 ml-2">
                        <option>소속</option>
                      </select>
                      <select class="form-control col-sm-3">
                        <option>부서</option>
                      </select>
                    </div>
                    <div class="row mt-3">
                      <input type="text" class="form-control col-4 ml-2" name="am_name" id="am_name" maxlength="10">
                      <button type="button" class="btn btn-dark">검색</button>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <label class="control-label ir">조회기간</label>
                    <div class="row">
                      <div class="btn-group ml-3" role="group" id="">
                        <button type="button" class="btn btn-secondary">이번주</button>
                        <button type="button" class="btn btn-secondary">지난주</button>
                        <button type="button" class="btn btn-secondary">이번달</button>
                        <button type="button" class="btn btn-secondary">지난달</button>
                      </div>
                    </div>
                    <div class="row ml-1 mt-3">
                      <sb-range-date-picker></sb-range-date-picker>
                    </div>
                  </div>
                </div>

              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
    
    <div class="row mb-3 mt-3">
      <div class="col-md-4 align-self-center">
        <a href="" class="btn btn-xs btn-secondary" onclick="">검색초기화</a>
         Total 
        <span class="">0</span>
         건
        <span class="">0</span>
         /
        <span class="">0</span>
         Page
      </div>
      <div class="col-md-8 align-self-center text-right">
        <button type="button" class="btn btn-primary btn-flat mr-2" (click)="open(content)">수정</button>
        <button type="button" class="btn btn-danger btn-flat" onclick="">삭제</button>
      </div>
    </div>

    <div class="row">
      <div class="card mb-3 col-12">
        <div class="card-body">
          <table class="table col-lg-12 table-bordered" style="text-align:center">
            <thead class="table-info">
              <tr>
                <th scope="col"><input type="checkbox" class="mr-1" aria-label="Checkbox for following text input">전체선택</th>
                <th scope="col">날짜</th>
                <th scope="col">사원명</th>
                <th scope="col">부서</th>
                <th scope="col">근무시간</th>
                <th scope="col">비고</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"><input type="checkbox" aria-label="Checkbox for following text input"></th>
                <td>2021-04-22</td>
                <td>홍길동</td>
                <td>개발팀</td>
                <td>8시간</td>
                <td>미체크</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
    </div>

    <div class="row">
      <div class="col-md-12 align-self-center text-right">
        <button type="button" class="btn btn-primary btn-flat mr-2" (click)="open(content)">수정</button>
        <button type="button" class="btn btn-danger btn-flat" onclick="">삭제</button>
      </div>
    </div>

  </div>
</sb-layout-dashboard>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">근태수정</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal ml-4" method="POST">
      <div class="form-group row">
        <label class="control-label ir col-sm-3 mt-2">이름 :</label>
        <label class="control-label ir col-sm-3 mt-2">개미</label>
        <label class="control-label ir col-sm-3 mt-2">부서 :</label>
        <label class="control-label ir col-sm-3 mt-2">개발팀</label>
      </div>
      <div class="form-group row">
        <label class="control-label ir col-sm-3 mt-2">날짜</label>
        <sb-my-date-picker></sb-my-date-picker>
      </div>
      <div class="form-group row">
        <label class="control-label ir col-sm-3 mt-2">시간</label>
        <sb-timepicker class="mr-2"></sb-timepicker>
        ~
        <sb-timepicker class="ml-2"></sb-timepicker>
      </div>
      <div class="form-group row">
        <label class="control-label ir col-sm-3 mt-2">근무시간</label>
        <input type="text" class="form-control col-4" name="" id="" maxlength="10">
      </div>
      <div class="form-group row">
        <label class="control-label ir col-sm-3 mt-2">설명</label>
        <textarea class="form-control col-sm-8" rows="2" placeholder=""></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>