<sb-layout-dashboard>
    <sb-dashboard-head title="서버관리" [hideBreadcrumbs]="false"></sb-dashboard-head>

    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <form class="form-horizontal" name="" method="get">
                            <div class="form-body">

                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <select class="form-control col-sm-1 ml-2">
                                                <option selected disabled hidden>구분</option>
                                                <option>테스트용</option>
                                                <option>사용자용</option>
                                            </select>
                                            <select class="form-control col-sm-2 ml-2">
                                                <option selected disabled hidden>종류</option>
                                                <option>nginx</option>
                                                <option>apache</option>
                                                <option>aws</option>
                                                <option>lis</option>
                                            </select>
                                            <select class="form-control col-sm-1 ml-2">
                                                <option selected disabled hidden>상태</option>
                                                <option>가동중</option>
                                                <option>중단</option>
                                                <option>준비중</option>
                                            </select>
                                            <select class="form-control col-sm-2 ml-2">
                                                <option selected disabled hidden>선택</option>
                                                <option>회사명</option>
                                                <option>서버이름</option>
                                                <option>도메인</option>
                                                <option>ip</option>
                                            </select>
                                            <input type="text" class="form-control col-sm-2 ml-2" [(ngModel)]="searchdata" name="searchdata" maxlength="10">
                                            <button type="button" class="btn btn-dark">검색</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3 mt-3">
            <div class="col-md-4 align-self-center">
                <a href="" class="btn btn-xs btn-secondary" onclick="">검색초기화</a>
                Total
                <span class="">0</span>
                건
                <span class="">0</span>
                /
                <span class="">0</span>
                Page
            </div>
            <div class="col-md-8 align-self-center text-right">
                <button type="button" class="btn btn-primary btn-flat btn-sm bg-gradient-info cus-inbt" (click)="createserver()">서버등록</button>
                <button type="button" class="btn btn-danger btn-sm ml-1" onclick="listDelSubmit('list','')">선택목록
                    삭제</button>
            </div>
        </div>

        <div class="row">
            <div class="card mb-3 col-12">
                <div class="card-body">
                    <table class="table col-lg-12 table-bordered" style="text-align:center">
                        <thead class="table-info">
                            <tr>
                                <th scope="col"><input type="checkbox" [checked]="isAllCheckBoxChecked()"
                                        (change)="checkAllCheckBox($event)" class="mr-1"
                                        aria-label="Checkbox for following text input">전체선택</th>
                                <th scope="col">회사명</th>
                                <th scope="col">구분</th>
                                <th scope="col">도메인</th>
                                <th scope="col">IP</th>
                                <th scope="col">종류</th>
                                <th scope="col">상태</th>
                                <th scope="col">연결DB</th>
                                <th scope="col">관리</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let server of servers;">
                                <td scope="row"><input type="checkbox" value="{{server.id}}"
                                        [(ngModel)]="server.checked" aria-label="Checkbox for following text input">
                                </td>
                                <td>{{server.name}}</td>
                                <td>{{server.type}}</td>
                                <td>{{server.domain}}</td>
                                <td>{{server.ip}}</td>
                                <td>{{server.webtype}}</td>
                                <td><button type="button" class="btn btn-success btn-sm">가동중</button></td>
                                <td><button type="button" class="btn btn-secondary btn-sm">바로가기</button></td>
                                <td><button type="button" class="btn btn-secondary btn-sm">보기</button></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="d-flex justify-content-between p-2">
                        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshCountries()">
                        </ngb-pagination>
                      
                        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
                          <option [ngValue]="2">2 items per page</option>
                          <option [ngValue]="4">4 items per page</option>
                          <option [ngValue]="6">6 items per page</option>
                        </select>
                      </div>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-12 align-self-center text-right cbtn-wrap">
                <button type="button" class="btn btn-primary btn-flat btn-sm bg-gradient-info cus-inbt" (click)="createserver()">서버등록</button>
                <button type="button" class="btn btn-danger btn-sm ml-1" onclick="listDelSubmit('list','')">선택목록
                    삭제</button>
            </div>
        </div>

    </div>

</sb-layout-dashboard>