<sb-layout-dashboard>
  <sb-dashboard-head title="소속관리" [hideBreadcrumbs]="false"></sb-dashboard-head>

  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">

                <form class="form-horizontal" name="dataFrm" method="get">
                    <div class="form-body">
                      <div class="form-group row col-sm-12">
                        <label class="control-label ir"></label>
                        <select class="form-control col-sm-2">
                          <option class="dropdown-item" disabled selected value="undefined">::소속::</option>
                        </select>
                        <input type="text" class="form-control col-sm-4 ml-4" maxlength="10">
                        <div class="input-group-append">
                          <button type="button" class="btn btn-dark btn-flat" onclick="">검색</button>
                        </div>
                      </div>
                    </div>
                </form>

            </div>
          </div>

          <div class="row mb-3 mt-3">
            <div class="col-md-4 align-self-center">
              <a href="" class="btn btn-xs btn-secondary" onclick="">검색초기화</a>
               Total 
              <span class="">0</span>
               건
              <span class="">0</span>
               /
              <span class="">0</span>
               Page
            </div>
            <div class="col-8 align-self-center text-right cbtn-wrap">
              <button type="button" class="btn btn-primary btn-flat btn-sm mr-1" (click)="open(content)">소속등록</button>
              <button type="button" class="btn btn-danger btn-sm ml-1" (click)="listDelSubmit('list')">선택목록삭제</button>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="card mb-3">
                <div class="card-body">
                  <table class="table col-lg-12 table-bordered" style="text-align:center">
                    <thead class="table-info">
                      <tr>
                        <th scope="col"><input type="checkbox" [checked]="isAllCheckBoxChecked()" (change)="checkAllCheckBox($event)" class="mr-1" aria-label="Checkbox for following text input">전체선택</th>
                        <th scope="col">소속</th>
                        <th scope="col">회사대표</th>
                        <th scope="col">회사번호</th>
                        <th scope="col">관리</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let company of companies; let list=index">
                        <td scope="row"><input type="checkbox" value="{{company.id}}" [(ngModel)]="company.checked" aria-label="Checkbox for following text input"></td>
                        <td>{{company.company}}</td>
                        <td>{{company.ceo}}</td>
                        <td>{{company.number}}</td>
                        <td><button type="button" class="btn btn-secondary" (click)="tableopen(modify,company)">소속등록</button></td>

                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshCountries()">
                    </ngb-pagination>
                  
                    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
                      <option [ngValue]="2">2 items per page</option>
                      <option [ngValue]="4">4 items per page</option>
                      <option [ngValue]="6">6 items per page</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-12 align-self-center text-right cbtn-wrap">
          <button type="button" class="btn btn-primary btn-flat btn-sm mr-1" (click)="open(content)">소속등록</button>
          <button type="button" class="btn btn-danger btn-sm ml-1" (click)="listDelSubmit('list')">선택목록삭제</button>
        </div>

    </div>
  </div>

</sb-layout-dashboard>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">소속 등록</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal ml-4" method="POST">
      <div class="form-group row">
        <label class="control-label ir col-sm-3 mt-2">소속</label>
        <input type="text" class="form-control col-sm-6 ml-2" name="" id="" maxlength="10">
      </div>
      <div class="form-group row">
        <label class="control-label ir col-sm-3 mt-2">회사대표</label>
        <input type="text" class="form-control col-sm-6 ml-2" name="" id="" maxlength="10">
      </div>
      <div class="form-group row">
        <label class="control-label ir col-sm-3 mt-2">회사번호</label>
        <input type="text" class="form-control col-sm-6 ml-2" name="" id="" maxlength="15">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<ng-template #modify let-modal2>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">소속 수정</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal2.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal ml-4" method="POST">
      <div class="form-group row">
        <label class="control-label ir col-sm-3 mt-2">소속</label>
        <input type="text" class="form-control col-sm-6 ml-2" maxlength="10" [(ngModel)]="modifycompany" name="modifycompany">
      </div>
      <div class="form-group row">
        <label class="control-label ir col-sm-3 mt-2">회사대표</label>
        <input type="text" class="form-control col-sm-6 ml-2" maxlength="10">
      </div>
      <div class="form-group row">
        <label class="control-label ir col-sm-3 mt-2">회사번호</label>
        <input type="text" class="form-control col-sm-6 ml-2" maxlength="15">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal2.close('Save click')">수정</button>
  </div>
</ng-template>