<sb-layout-dashboard>
    <sb-dashboard-head title="내 정보" [hideBreadcrumbs]="false"></sb-dashboard-head>

    <div class="content">
        <div class="row">
            <div class="col-lg-12">

                <div class="card p-4">
                    <div class="card-body">

                        <div class="form-group row">
                            <label class="col-sm-2 control-label ir">근무상태</label>
                            <label class="col-sm-4" id ="am_working"></label>
                            <label class="col-sm-2 control-label ir">기본/추가연차</label>
                            <label class="col-sm-4">10일/2일</label>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 control-label ir">입/퇴사일</label>
                            <div class="col-sm-4">
                                <sb-range-date-picker [Gfromdate]="Gfromdate" [Gtodate]="Gtodate" (newItemEvent)="Gfromdatechange($event)" (ItemEvent)="Gtodatechange($event)"></sb-range-date-picker>
                            </div>
                            <label class="col-sm-2 control-label ir">소속</label>
                            <label class="col-sm-4">와이즈빌 > 개발팀</label>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 control-label ir">사원명</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="am_name" id="am_name" maxlength="10">
                            </div>
                            <label class="col-sm-2 control-label ir">생년원일</label>
                            <div class="col-sm-4">
                                <sb-my-date-picker [item]="bdate" (datechange)="changedate($event)"></sb-my-date-picker>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 control-label ir">사원번호</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="am_num" id="am_num" maxlength="10">
                            </div>
                            <label class="col-sm-2 control-label ir">비밀번호</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="am_pwd" id="am_pwd" maxlength="10">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 control-label ir">직급</label>
                            <label class="col-sm-4">사원</label>
                            <label class="col-sm-2 control-label ir">내선번호</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="am_extension" id="am_extension"
                                    maxlength="10">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 control-label ir">출입카드</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="am_card_num" id="am_card_num"
                                    maxlength="10">
                            </div>
                            <label class="col-sm-2 control-label ir">핸드폰</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="am_phone" id="am_phone" maxlength="10">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 control-label ir">이메일</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="am_email" id="am_email" maxlength="10">
                            </div>
                            <label class="col-sm-2 control-label ir">전화번호</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="am_tel" id="am_tel" maxlength="10">
                            </div>
                        </div>

                        <hr class="m-t-0 m-b-40">

							<sb-address></sb-address>

                        <hr class="m-t-0 m-b-40">

                        <div class="form-group row">
                            <label class="col-sm-2 control-label ir">사진</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="url" class="form-control" name="am_img" id="am_img" maxlength="6">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-info btn-flat" onclick="">사진검색</button>
                                    </div>
                                </div>
                            </div>
                            <label class="col-sm-2 control-label ir">싸인</label>
                            <div class="col-sm-4">
								<div class="custom-file" id="inputFile">
								<input name="file" type="file" class="custom-file-input" id="customFile">
								<label class="custom-file-label" for="customFile">파일을 선택해 주세요.</label>
								</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer clearfix">
                    <button type="button" id="upbtn" (click)="modify()" class="btn btn-info float-right cus-upbtn"
                        style="display:inline-block">수정</button>
                </div>
            </div>
        </div>
    </div>

</sb-layout-dashboard>