<sb-layout-dashboard>
    <sb-dashboard-head title="내 정보 수정" [hideBreadcrumbs]="true"></sb-dashboard-head>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item "><a href="#">마이페이지</a></li>
            <li class="breadcrumb-item active " aria-current="page">내 정보</li>
        </ol>
    </nav>

    <div class="content">
        <div class="row">
            <div class="col-lg-12">

                <div class="card p-4">
                    <div class="card-body">

                        <div class="form-group row">
                            <div class="col-sm-6 row">
                                <label class="col-sm-3 control-label ir">근무상태</label>
																<div class="col-sm-6">
																	<input type="text" class="form-control" name="am_num" id="am_num" maxlength="10">
																</div>
                            </div>
                            <div class="col-sm-6 row">
                                <label class="col-sm-3 control-label ir">기본/추가연차</label>
																<div class="col-sm-6">
																	<input type="text" class="form-control" name="am_num" id="am_num" maxlength="10">
																</div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6 row">
                                <label class="col-sm-3 control-label ir">입/퇴사일</label>
                                <div class="col-sm-8">
                                    <sb-range-date-picker [Gfromdate]="Gfromdate" [Gtodate]="Gtodate"
                                        (newItemEvent)="Gfromdatechange($event)" (ItemEvent)="Gtodatechange($event)">
                                    </sb-range-date-picker>
                                </div>
                            </div>
                            <div class="col-sm-6 row">
                                <label class="col-sm-3 control-label ir">소속</label>
																<div class="col-sm-6">
																	<input type="text" class="form-control" name="am_num" id="am_num" maxlength="10">
																</div>
                            </div>
                        </div>

                        <div class="form-group row">
													<div class="col-sm-6 row">
                            <label class="col-sm-3 control-label ir">사원명</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="am_name" id="am_name" maxlength="10">
                            </div>
													</div>
													<div class="col-sm-6 row">
                            <label class="col-sm-3 control-label ir">생년원일</label>
                            <div class="col-sm-6">
                                <sb-my-date-picker [item]="bdate" (datechange)="changedate($event)"></sb-my-date-picker>
                            </div>
													</div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6 row">
                                <label class="col-sm-3 control-label ir">사원번호</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="am_num" id="am_num" maxlength="10">
                                </div>
                            </div>
                            <div class="col-sm-6 row">
                                <label class="col-sm-3 control-label ir">비밀번호</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="am_pwd" id="am_pwd" maxlength="10">
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
													<div class="col-sm-6 row">
                            <label class="col-sm-3 control-label ir">직급</label>
														<div class="col-sm-6">
															<input type="text" class="form-control" name="am_num" id="am_num" maxlength="10">
														</div>
													</div>
													<div class="col-sm-6 row">
                            <label class="col-sm-3 control-label ir">내선번호</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="am_extension" id="am_extension"
                                    maxlength="10">
                            </div>
													</div>
                        </div>

                        <div class="form-group row">
													<div class="col-sm-6 row">
                            <label class="col-sm-3 control-label ir">출입카드</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="am_card_num" id="am_card_num"
                                    maxlength="10">
                            </div>
													</div>
													<div class="col-sm-6 row">
                            <label class="col-sm-3 control-label ir">핸드폰</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="am_phone" id="am_phone" maxlength="10">
                            </div>
													</div>
                        </div>

                        <div class="form-group row">
													<div class="col-sm-6 row">
                            <label class="col-sm-3 control-label ir">이메일</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="am_email" id="am_email" maxlength="10">
                            </div>
													</div>
													<div class="col-sm-6 row">
                            <label class="col-sm-3 control-label ir">전화번호</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="am_tel" id="am_tel" maxlength="10">
                            </div>
													</div>
                        </div>

                        <hr class="m-t-0 m-b-40">

                        <sb-address></sb-address>

                        <hr class="m-t-0 m-b-40">


                        <div class="form-group row">
													<div class="col-sm-6 row">
                            <label class="col-sm-3 control-label ir ">사진</label>
                            <div class="col-sm-6 ">
                                <div class="input-group">
                                    <div class="custom-file" id="inputFile">
                                        <input type="file" class="form-control file " name="wr_files_1"
                                            data-upflag="sign " id="wr_files_1 ">
                                    </div>
                                </div>
                            </div>
													</div>
													<div class="col-sm-6 row">
                            <label class="col-sm-3 control-label ir">싸인</label>
                            <div class="col-sm-6">
                                <div tabindex="10" class="custom-file" id="inputFile">
                                    <input type="file" class="form-control file" name="wr_files_1" data-upflag="sign"
                                        id="wr_files_1">
                                </div>
                            </div>
													</div>

                        </div>
                    </div>
                </div>

                <div class="card-footer text-right">
                    <button type="button" id="upbtn" (click)="modify()" class="btn btn-info float-right cus-upbtn"
                        style="display:inline-block">수정</button>
                    <button type="button" class="btn btn-danger btn-flat mr-2" onclick="">취소</button>
                </div>
            </div>
        </div>
    </div>


</sb-layout-dashboard>