<sb-layout-dashboard>
    <sb-dashboard-head title="공지사항" [hideBreadcrumbs]="true"></sb-dashboard-head>
    <hr class="m-t-0 m-b-40">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">

                        <form class="form-horizontal" name="dataFrm" method="get">

                            <div class="form-body">
                                <div class="form-group row col-sm-12">
                                    <select class="form-control col-sm-1">
                                        <option selected disabled hidden>::구분::</option>
                                        <option>내용</option>
                                        <option>제목</option>
                                        <option>글쓴이</option>
                                    </select>
                                    <input type="text" class="form-control col-sm-4 ml-4" name="am_name" id="am_name"
                                        maxlength="10">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-dark btn-flat" onclick="">검색</button>
                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>

                <div class="row mb-3 mt-3">
                    <div class="col-md-4 align-self-center">
                        <a href="" class="btn btn-xs btn-secondary" onclick="">검색초기화</a>
                        Total
                        <span class="">0</span>
                        건
                        <span class="">0</span>
                        /
                        <span class="">0</span>
                        Page
                    </div>
                    <div class="col-8 align-self-center text-right cbtn-wrap">
                        <button type="button" class="btn btn-primary btn-flat btn-sm bg-gradient-info cus-inbt" (click)="createnotice()">공지사항등록</button>
                        <button type="button" class="btn btn-danger btn-sm ml-1" (click)="delete($event)">선택목록삭제</button>
                    </div>

                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <table class="table col-lg-12 table-bordered" style="text-align:center">
                                    <thead class="table-info">
                                        <tr>
                                            <th scope="col"><input type="checkbox" [checked]="isAllCheckBoxChecked()"
                                                    (change)="checkAllCheckBox($event)" class="mr-1"
                                                    aria-label="Checkbox for following text input">전체선택</th>
                                            <th scope="col">분류</th>
                                            <th scope="col">제목</th>
                                            <th scope="col">작성자</th>
                                            <th scope="col">날짜</th>
                                            <th scope="col">첨부</th>
                                            <th scope="col">관리</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        <tr *ngFor="let notice of notices">
                                            <td scope="row"><input type="checkbox" value="{{notice.id}}"
                                                    [(ngModel)]="notice.checked"
                                                    aria-label="Checkbox for following text input"></td>
                                            <td>{{notice.type}}</td>
                                            <td>{{notice.title}}</td>
                                            <td>{{notice.writer}}</td>
                                            <td>{{notice.date}}</td>
                                            <td><button class="btn btn-secondary btn-flat" onclick="">다운</button></td>
                                            <td>
                                                <div class="col-md-12 align-self-center text-center">
                                                    <button class="btn btn-info btn-flat" (click)="goupdate(notice.id)">수정</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="d-flex justify-content-between p-2">
                                    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshCountries()">
                                    </ngb-pagination>
                                  
                                    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
                                      <option [ngValue]="2">2 items per page</option>
                                      <option [ngValue]="4">4 items per page</option>
                                      <option [ngValue]="6">6 items per page</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
        <div class="row">
            <div class="col-12 align-self-center text-right cbtn-wrap">
                <button type="button" class="btn btn-primary btn-flat btn-sm bg-gradient-info cus-inbt" (click)="createnotice()">공지사항등록</button>
                <button type="button" class="btn btn-danger btn-sm ml-1" (click)="delete($event)">선택목록삭제</button>
            </div>
        </div>
    </div>


</sb-layout-dashboard>

