<sb-layout-dashboard>
    <sb-dashboard-head title="회사별 모니터링" [hideBreadcrumbs]="true"></sb-dashboard-head>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item "><a href="#">스마트팩토리관리</a></li>
            <li class="breadcrumb-item active " aria-current="page">모니터링</li>
        </ol>
    </nav>
    
    <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="true" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text"><sb-charts-bar></sb-charts-bar></p>
          <a href="#" class="btn-flat btn-sm btn btn-info">바로가기</a>
        </div>
      </div>
      

</sb-layout-dashboard>