<sb-layout-dashboard>
    <sb-dashboard-head title="회사별 모니터링" [hideBreadcrumbs]="true"></sb-dashboard-head>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item "><a href="#">스마트팩토리관리</a></li>
            <li class="breadcrumb-item active " aria-current="page">모니터링</li>
        </ol>
    </nav>

    <h3>포제이 컴퍼니</h3>

    <div class="row" *ngFor="let company of companies">
        <div class="col-lg-4">
        <sb-card>
            <div class="card-header">
                <fa-icon class="mr-1" [icon]='["fas", "chart-area"]'></fa-icon>Area Chart Example
            </div>
            <div class="card-body">
                <sb-charts-area></sb-charts-area>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </sb-card>
    </div>

        <div class="col-lg-4">
            <sb-card>
                <div class="card-header">
                    <fa-icon class="mr-1" [icon]='["fas", "chart-bar"]'></fa-icon>Bar Chart Example
                </div>
                <div class="card-body">
                    <sb-charts-bar></sb-charts-bar>
                </div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </sb-card>
        </div>


        <div class="col-lg-4">
            <sb-card>
                <div class="card-header">
                    <fa-icon class="mr-1" [icon]='["fas", "chart-pie"]'></fa-icon>Pie Chart Example
                </div>
                <div class="card-body">
                    <sb-charts-pie></sb-charts-pie>
                </div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </sb-card>
        </div>
    </div>

</sb-layout-dashboard>