<div class="row mb-4">
    <div class="col-sm-12">


        <form class="form-horizontal" name="dataFrm" method="get">
            <div class="form-body">
                <div class="form-group row">

                    <table class="table col-lg-12 text-center table-bordered">
                        <tbody>
                            <tr>
                                <th scope="col" class="col-sm-4">

                                    <div class="col-sm-12">
                                        <label class="col-sm-12 control-label text-center">
                                            <h3>공지사항</h3>
                                        </label>
                                        <hr>
                                        <table class="table col-lg-12 table-bordered text-center table-sm">
                                            <thead class="table-info">
                                                <tr>
                                                    <th scope="col" style="width: 20%;">작성자</th>
                                                    <th scope="col">제목</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let notice of notices">
                                                    <td>{{notice.name}}</td>
                                                    <td>{{notice.title}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </th>

                                <th scope="col" class="col-sm-4">
                                    <div class="col-sm-12">
                                        <label class="col-sm-12 control-label text-center">
                                            <h3>이벤트로그</h3>
                                        </label>
                                        <hr>
                                        <table class="table col-lg-12 text-center table-sm">
                                            <tbody>
                                                <tr *ngFor="let eventlog of eventlogs">
                                                    <td>{{eventlog.date}}</td>
                                                    <td>{{eventlog.time}}</td>
                                                    <td>{{eventlog.company}}</td>
                                                    <td>{{eventlog.log}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </th>

                                <th scope="col" class="col-sm-4">
                                    <div class="col-sm-12">
                                        <label class="col-sm-12 control-label text-center">
                                            <h3>서버결제유효기간</h3>
                                        </label>
                                        <hr>
                                        <table class="table col-lg-12 table-bordered text-center table-sm">
                                            <thead class="table-info">
                                                <tr>
                                                    <th scope="col" style="width: 20%;">회사명</th>
                                                    <th scope="col">제목</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let serverv of servervs">
                                                    <td>{{serverv.company}}</td>
                                                    <td>{{serverv.title}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </th>

                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </form>


    </div>
</div>